[submodule "auth/catalyst"]
    branch = STABLE_33
    path = auth/catalyst
	url = git@git.catalyst-au.net:elearning/mdl-auth_catalyst.git
[submodule "mod/quiz/accessrule/safeexambrowser"]
    branch = dev
    path = mod/quiz/accessrule/safeexambrowser
	url = git@github.com:catalyst/moodle-quizaccess_safeexambrowser.git
